* {
  margin: 0px;
}

.app {
  height: 100%;
}

.app__header {
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  background-color: white;
  object-fit: contain;
  padding: 20px;
  border-bottom: 1px solid lightgray;
}

.app__headerLogo {
  object-fit: contain;
}

.app__signUp {
  display: flex;
  flex-direction: column;
}

.app__headerSearch {
  display: flex;
  flex: 1;
  align-items: center;
  max-width: fit-content;
  padding: 10px;
  height: 30px;
}

.app__headerRight {
  display: flex;
  align-items: center;
}

.app__posts {
  display: flex;
  justify-content: center;
  padding: 20px;
}
